body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.status-10-color { background-color: #fcbdbd; }
.status-20-color { background-color: #e3b7eb; }
.status-30-color { background-color: #ffcd85; }
.status-40-color { background-color: #fff494; }
.status-50-color { background-color: #c2dfff; }
.status-80-color { background-color: #92ff70; }
.status-90-color { background-color: #c9ccc4; }

.fa-pencil::before {
    content: "✎";
}
li.row {
    display: flex;
    flex-direction: row;
    color: #333;
    clear: both;
    margin: 0.25em 0;
    padding: 0.25em;
    border-radius: 0.75em;
}
.idbox { display: block; border-right: 1px solid whitesmoke; width: 13%; }
.row a { text-decoration: none; }

.rows { width: 96%; padding: 1em; border: 2px solid darkolivegreen; border-radius: 1em;}
@media(min-width:960px) {
.rows.left, .rows .left { width: 47%;  float: left; }
.rows.right, .rows .right { width: 47%;  float: right; }
}

